<div class="container">
  <h2>Cadastro de Peça de Roupa</h2>
  <form (ngSubmit)="enviarCadastro()">
    <div class="form-group">
      <label for="nome">Nome da Peça:</label>
      <input type="text" class="form-control" id="nome">
    </div>
    <div class="form-group">
      <label for="preco">Preço:</label>
      <input type="text" class="form-control" id="preco">
    </div>
    <div class="form-group">
      <label for="imagem" class="mb-0 mr-2">Selecione uma imagem:</label>
      <br>
      <div class="container mb-0 mr-2">
        <input type="file" class="form-control-file" (change)="onFileSelected($event)" accept="image/*">
      </div>
    </div>
    <div class="form-group">
      <label for="prazo">Prazo de Entrega:</label>
      <input type="text" class="form-control" id="prazo">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>