<div class="container">
    <h2>Cadastro de Peça de Roupa</h2>
    <form (onSubmit)="enviarCadastro()">
      <div class="form-group">
        <label for="nome">Nome da Peça:</label>
        <input type="text" formControlName="nome" class="form-control" id="nome">
      </div>
      <div class="form-group">
        <label for="preco">Preço:</label>
        <input type="text" class="form-control" formControlName="preco" id="preco">
      </div>
      <div class="form-group">
        <label for="imagem">Selecione uma imagem:</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="imagem" accept="image/*">
      </div>
      <div class="form-group">
        <label for="prazo">Prazo de Entrega:</label>
        <input type="text" class="form-control" formControlName="prazo" id="prazo">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
  