<!-- visualizacao-pedidos.component.html -->
<app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <h2>Visualização de Pedidos</h2>

  <!-- Filtros -->
  <div class="form-group">
    <label for="filtroData">Filtrar por Data:</label>
    <input type="date" class="form-control" id="filtroDataInicio"
      [(ngModel)]="filtroDataInicio">
    <label for="filtroDataFim"></label>
    <input type="date" class="form-control" id="filtroDataFim"
      [(ngModel)]="filtroDataFim">
  </div>

  <div class="form-group">
    <button class="btn btn-primary button-spacing"
      (click)="filtrarPorData()">Filtrar por
      Data</button>
    <button class="btn btn-primary button-spacing"
      (click)="pedidosDeHoje()">Pedidos de
      Hoje</button>
    <button class="btn btn-primary button-spacing"
      (click)="mostrarTodosOsPedidos()">Todos os
      Pedidos</button>
  </div>

  <p style="color: red;" *ngIf="mensagemErro">{{ mensagemErro }}</p>

  <hr>
  <p class="bold-text">Foram encontrados {{ quantidadePedidos }} pedidos:</p>

  <!-- Lista de Pedidos -->
  <div class="pedidos-lista">
    <div *ngFor="let pedido of pedidosFiltrados | orderByDate: 'asc'"
      class="card mt-3">
      <div [ngClass]="{'card-yellow': pedido.estado === 'EM ABERTO',
                        'card-red': pedido.estado === 'REJEITADO' || pedido.estado === 'CANCELADO',
                        'card-grey': pedido.estado === 'RECOLHIDO',
                        'card-blue': pedido.estado === 'AGUARDANDO PAGAMENTO',
                        'card-orange': pedido.estado === 'PAGO',
                        'card-green': pedido.estado === 'FINALIZADO'}">
        <div class="card-body">
          <h5 class="card-title">Pedido #{{ pedido.numero }}</h5>
          <p class="card-text">Data/Hora: {{ pedido.dataHora | date:'dd/MM/yyyy'
            }}</p>
          <p class="card-text text-white">Estado: {{ pedido.estado }}</p>

          <!-- Botões de Ação -->
          <button *ngIf="pedido.estado === 'EM ABERTO'" class="btn btn-primary"
            (click)="confirmarRecolhimento(pedido)">Confirmar
            Recolhimento</button>
          <button *ngIf="pedido.estado === 'RECOLHIDO'" class="btn btn-primary"
            (click)="confirmarLavagem(pedido)">Confirmar Lavagem</button>
          <button *ngIf="pedido.estado === 'PAGO'" class="btn btn-primary"
            (click)="finalizarPedido(pedido)">Finalizar Pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>
