/* visualizacao-pedidos.component.css */

.card-yellow { background-color: yellow; }
.card-red { background-color: red; }
.card-grey { background-color: grey; }
.card-blue { background-color: blue; }
.card-orange { background-color: orange; }
.card-green { background-color: green; }