.fixed-size-container {
  flex: 1 1 24%; /* Permite 4 itens por linha com espaços */
  max-width: 24%; /* Limita a largura máxima para 4 itens por linha */
  margin-right: 1%; /* Espaço entre os itens */
  margin-bottom: 1%; /* Espaço na parte inferior dos itens */
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no tamanho total */
}

.fixed-size-image {
  width: 100%;
  height: auto;
}