<div class="container border border-primary item-pedido">
    <div class="text-end botaodelete">
        <button (click)="deletar()" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
        </button>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExVY287Pej03f2ulRTkBmBtSVc5VO67xY_Xg8eGjEgWbZkIDW_AmaVNnZnml-v8tmDtA&usqp=CAU" alt="">
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="itemPedido" class="form-label">Selecione uma roupa:</label>
                <select id="itemPedido" class="form-select" name="itemPedido">
                    <option value="id1">Opção 1</option>
                    <option value="id2">Opção 2</option>
                    <option value="id2">Opção 3</option>
                </select>
            </div>
        </div>
        <span class="col-md-6"></span>
        <div class="col-md-6">
            <label for="qtdIten" class="form-label">Número de peças:</label>
            <div class="form-group d-flex align-items-center">
                <button (click)="subIten($event)" class="btn btn-secondary">-</button>
                <form>
                    <input type="number" [(ngModel)]="qtdIten" name="numeroItens" class="form-control" placeholder="0">
                 </form>
                <button (click)="addIten($event)" class="btn btn-secondary">+</button>
            </div>
        </div>
        
    </div>
</div>
