<body>
    <div class="fundo">
        <app-nav-bar></app-nav-bar>
        <div class="Titulo">
            <h2>
                PEDIDOS EM ABERTO
            </h2>
        </div>
        <div class="containerLista">
            <ul class="lista">
                <li class=listaElemento>
                    <a href="#" class="link">
                        <div class="divLista">
                            <img class="ImagemListaElemento" src="../assets/MaquinaLavar.jpeg">
                        </div>
                        <div class="conteudo">
                            <h2>nº pedido:#1</h2>
                            <p><b>Data de Entrega: </b>10/02/2024</p>
                            <p class="orcamento"><b>Orçamento: </b>R$ 80</p>
                        </div>
                    </a>
                    <button class="btn btn-danger">Cancelar Pedido</button>
                </li>
                <li class=listaElemento>
                    <a href="#" class="link">
                        <div class="divLista">
                            <img class="ImagemListaElemento" src="../assets/MaquinaLavar.jpeg">
                        </div>
                        <div class="conteudo">
                            <h2>nº pedido:#2</h2>
                            <p>data de entrega: 10/02/2024</p>
                            <p>Orçamento: R$ 80</p>
                        </div>
                    </a>
                    <button class="btn btn-danger">Cancelar Pedido</button>
                </li>
                <li class=listaElemento>
                    <a href="#" class="link">
                        <div class="divLista">
                            <img class="ImagemListaElemento" src="../assets/MaquinaLavar.jpeg">
                        </div>
                        <div class="conteudo">
                            <h2>nº pedido:#3</h2>
                            <p>data de entrega: 10/02/2024</p>
                            <p>Orçamento: R$ 80</p>
                        </div>
                    </a>
                    <button class="btn btn-danger">Cancelar Pedido</button>
                </li>
                <li class=listaElemento>
                    <a href="#" class="link">
                        <div class="divLista">
                            <img class="ImagemListaElemento" src="../assets/MaquinaLavar.jpeg">
                        </div>
                        <div class="conteudo">
                            <h2>nº pedido:#4</h2>
                            <p>data de entrega: 10/02/2024</p>
                            <p>Orçamento: R$ 80</p>
                        </div>
                    </a>
                    <button class="btn btn-danger">Cancelar Pedido</button>
                </li>
            </ul>
        </div>
    </div>
</body>
