<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-between">
                <button routerLink="/home" class="btn btn-primary">Ir para a página inicial</button>
                <button (click)="addPedido()" class="btn btn-primary">Adicionar novo item</button>
                <button (click)="confirmarPedido()" class="btn btn-primary">Confirmar pedido</button>
            </div>
        </div>
        <div #containerItens></div>
        <app-modal-confirmacao *ngIf="isConfirmationModalVisible" [pedido]="pedidoResumo" (confirmed)="onConfirmed($event)"></app-modal-confirmacao>
        <app-modal-empty-itens *ngIf="isModalEmptyItens" (confirmed)="onConfirmedEmpty($event)"></app-modal-empty-itens>
        <app-modal-item-vazio *ngIf="isModalItemVazio" (confirmed)="onConfirmedVazio($event)"></app-modal-item-vazio>
    </div>
</div>
