<body>
    <div class="fundo">
        <ul class="menu">
            <li class="elementoMenu"><a class="hoverMenu" href="#">LoL</a></li>
            <li class="elementoMenu"><a class="hoverMenu"href="#">PEDIR</a></li>
            <li class="elementoMenu"><a class="hoverMenu"href="#">LISTAR</a></li>
            <li class="elementoMenu"><a class="hoverMenu" href="#">CONSULTAR</a></li>
            <li class="perfil"><img src="../assets/perfil.png"></li>
        </ul>
        <div class="areaConstulta">
            <div class="formularioConsulta">
                <input type="text" id="inputConsulta" placeholder="Informe o código do produto">
                <button class="botaoPesquisar">Pesquisar</button>
            </div>
        </div>
    </div>
</body>
